@import "tailwindcss";

:root {
  --primary-color: #ffac11;
  --secondary: #ffffff;
  --accent:#ffffff;
  --accent-foreground: #fbfbfb;
  --background-color: #eef0f3;
  --foreground-color: #e1e1e1;
  --secend-background-color: #eef0f3;
  --secend-background-hover-color: #ffffff;
  --btn-bg: #ededed;
  --btn-hover: #dcd7d7;
  --popup-bg: #161c27;
  --tiptap-artboard-bg: #10151d;
  --tiptap-header-bg:#1c2330;
  --white-color: #2A2E34;
  --dim-white-color: #575F6d;
  --p-color: #ffffffa1;
  --border-color: #e5e9ec;
  --arrow-color: #717781;
  --input-border-color: #ffffff2e;
  --text-hover-color: #e4990f;
  --breadcrumbs-disable: #333e50;
  --transprate-hover: rgba(255, 255, 255, 0.010);
  --col-1: #d3dadf;
}
[data-theme='dark'] {
  --primary-color: #ffac11;
  --secondary: #222121;
  --accent:#1b1b1b;
  --accent-foreground: #151515;
  --background-color: #0f0f0f;
  --foreground-color: #111;
  --secend-background-color: #262626;
  --secend-background-hover-color: #151515;
  --btn-bg: #1b1b1b;
  --btn-hover: #364153 ;
  --popup-bg: #161c27;
  --tiptap-artboard-bg: #10151d;
  --tiptap-header-bg:#1c2330;
  --white-color: #fff;
  --dim-white-color: #d1d5dc;
  --p-color: #ffffffa1;
  --border-color: rgba(255, 255, 255, 0.1);
  --arrow-color: #717781;
  --input-border-color: #ffffff2e;
  --text-hover-color: #e4990f;
  --breadcrumbs-disable: #333e50;
  --transprate-hover: rgba(255, 255, 255, 0.010);
  --col-1: #364153;

}

h1 {
  color: var(--custom-color);
}




body {
  background-color: var(--background-color) ;
  color: var(--dim-white-color);
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 700;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

/* Loader */
.loader {
  border-radius: 50%;
  padding: 1px;
  animation: loader 1s infinite steps(10);
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}


/* Scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #394150;
}
::-webkit-scrollbar-thumb {
  background-color: #525e74;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #657490;
}

 /* body.modal-open { 
  overflow: hidden;
  padding-right: 10px;}  */



/* Rich Text tiptep start*/
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Sizing the table and cells so they don't grow or shrink */
}

table td,
table th {
  border: 1px solid #ccc;
  padding: 6px;
  text-overflow: ellipsis;  /* Shows '...' when text overflows */
  overflow: hidden;  /* Prevents text from overflowing beyond the cell */
  white-space: wrap;  /* Prevents text from wrapping into multiple lines */
}

table th {
  font-weight: bold;
}
/* Rich Text tiptep End*/

.arrowspan{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: var(--custom-color);
  width: 15px;
  height: 10px;
}
.btn {
  position: relative;
  overflow: hidden;
  border: 1px solid #6a7282 ;
  border-radius: 4px;
  padding: 10px 18px;
  background-color: var(--btn-bg);
  color: var(--dim-white-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  outline: none;
  transition: 
    background-color 0.3s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.btn:hover {
  background-color: var(--btn-hover);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}


.btn:active {
  background-color: var(--secondary);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transform: translateY(1px);
}


.btn2{
  padding: 8px 13px;
  background: var(--custom-color);
  color: var(--color-white);
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
.btn3{
  padding: 4px 10px;
  background: #00a0d4;
  color: white;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.a{
  font-size: 14px;
  color: var(--custom-color);
  cursor: pointer;
}
.a:hover{
  text-decoration: underline;
}

/* Wrapper so glow stays behind button */
.glow-wrapper {
  position: relative;
  display: inline-block;
}



